body{
	font-family: Arial;
	background-color: #EEEEEE;
	color: #333;
}

.container-main{
	margin: 30px;
}

.container-notepad{
	background-color: white;
	padding: 20px;
	height: auto;
	min-height: 75vh;
	margin-top: 15px;
}

.form-actions{
	float: right;
}

.notepadTitle{
	float: left;
	width: 27%;
	margin-top: 5px;
}

.myNotes{
	margin-top: 50px;
}

input, textarea{
	padding: .375rem .75rem;
	border: 1px solid #CCC;
	border-radius: .25rem;
	font-family: Arial;
	color: #333;
}

.noteTitle{
	width: 50%;
	margin-top: 5px;
}

.noteBody{
	width: 50%;
	resize: none;
}

.container-noteBody{
	margin-top: 5px;
}

button{
	border-radius: .25rem;
	padding: .58rem 1.5rem;
	border: 1px solid transparent;
	cursor: pointer;
	color: white;
	font-size: 14px;
}

.saveNotepad{
	background-color: #39ACDC;
}

.delete{
	background-color: #EC3646;
	margin-left: 10px;
}

.add{
	background-color: #57B93E;
	margin-top: 15px;
}

.myNotes label{
	font-size: 18px;
}