body{
	font-family: Arial;
	background-color: #EEEEEE;
	color: #333;
}

.container-main{
	margin: 30px;
}

.container-notepad{
	background-color: white;
	padding: 20px 20px 20px 20px;
	height: auto;
	min-height: 75vh;
	margin-top: 15px;
}

.form-actions{
	float: right;
}

.notepadTitle{
	float: left;
	width: 27%;
	margin-top: 5px;
}

.myNotes{
	margin-top: 50px;
}